imgs
files
experiments
*.pyc
*.zip
*.csv
*.log
*.png
*.pdf
*.html
*.npz
*.txt
*.json
/train
/test
/archive
/vae
/prototyping
/WhisperSeg
temp
results 
WhisperSeg/
archive
*.svg
/song_detector
song_detector
